<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cure-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{105,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,733},{105,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{105,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,627},{105,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{99,138}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,1377},{99,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{103,136}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,829},{103,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{103,130}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,1105},{103,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{105,130}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{105,130}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,133},{105,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{105,110}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,515},{105,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{105,120}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,393},{105,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{105,126}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,265},{105,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{101,138}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,1237},{101,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{103,136}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,967},{103,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{99,138}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,1517},{99,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,136}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,1797},{97,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cure-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,138}</string>
                <key>spriteSourceSize</key>
                <string>{105,138}</string>
                <key>textureRect</key>
                <string>{{1,1657},{97,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cure-sheet.png</string>
            <key>size</key>
            <string>{107,1934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9203af65dc04134e2a0f8fc6731963f5:4cf3880cf05d4766329818cc39bb4b97:ac7b279b300b5df41708a95113626178$</string>
            <key>textureFileName</key>
            <string>cure-sheet.png</string>
        </dict>
    </dict>
</plist>
