<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character-d-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-d-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,151},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-d-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-d-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,201},{24,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-l-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,347},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-l-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,497},{22,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-l-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,397},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-l-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,545},{22,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-r-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,447},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-r-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,593},{22,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-r-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,447},{22,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-r-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,641},{22,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-u-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,51},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-u-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,251},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-u-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,101},{26,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character-u-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{1,299},{24,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player-sheet.png</string>
            <key>size</key>
            <string>{28,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:338e2b4077af0d0f8735f7bfe4d88a16:d0103fae35f66801bf3fd1941ee1984a:6a605df81616c82251ace4061be035f2$</string>
            <key>textureFileName</key>
            <string>player-sheet.png</string>
        </dict>
    </dict>
</plist>
