<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suicide-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-81}</string>
                <key>spriteSize</key>
                <string>{55,26}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{1916,1},{55,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suicide-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{79,218}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{1476,1},{79,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suicide-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-81}</string>
                <key>spriteSize</key>
                <string>{173,84}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{951,1},{173,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-81}</string>
                <key>spriteSize</key>
                <string>{173,84}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{1126,1},{173,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-81}</string>
                <key>spriteSize</key>
                <string>{173,84}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{1126,1},{173,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-81}</string>
                <key>spriteSize</key>
                <string>{173,84}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{1301,1},{173,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{79,218}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{1696,1},{79,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suicide-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-26}</string>
                <key>spriteSize</key>
                <string>{91,152}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{443,1},{91,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suicide-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-27}</string>
                <key>spriteSize</key>
                <string>{93,154}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{287,1},{93,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suicide-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-63}</string>
                <key>spriteSize</key>
                <string>{125,96}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{160,1},{125,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-67}</string>
                <key>spriteSize</key>
                <string>{157,104}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-79}</string>
                <key>spriteSize</key>
                <string>{175,90}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{597,1},{175,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-80}</string>
                <key>spriteSize</key>
                <string>{175,88}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{774,1},{175,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suicide-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-81}</string>
                <key>spriteSize</key>
                <string>{173,84}</string>
                <key>spriteSourceSize</key>
                <string>{175,248}</string>
                <key>textureRect</key>
                <string>{{951,1},{173,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>suicide-sheet.png</string>
            <key>size</key>
            <string>{1943,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eaf377374ef867e5f3faa0276a91a7b:a6d60704601e1250ca28dc8290e76891:4d8db2e7fdc6e6153692b3919f3798d9$</string>
            <key>textureFileName</key>
            <string>suicide-sheet.png</string>
        </dict>
    </dict>
</plist>
