<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy-normal-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{1,459},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy-normal-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{29,459},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy-normal-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{57,437},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy-normal-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{55,405},{30,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy-normal-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{57,467},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy-normal-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,28}</string>
                <key>spriteSourceSize</key>
                <string>{23,28}</string>
                <key>textureRect</key>
                <string>{{82,437},{23,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{184,156}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1127,341},{184,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{184,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1127,1},{184,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1,203},{200,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{193,1},{200,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{200,184}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{769,203},{200,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{200,186}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{769,1},{200,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{184,170}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{955,203},{184,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{184,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{957,1},{184,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{184,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{1127,171},{184,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{193,203},{200,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{385,1},{200,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{385,203},{200,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{577,1},{200,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,190}</string>
                <key>textureRect</key>
                <string>{{577,203},{200,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hp-bar-border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,405},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-bullet-normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{1,491},{14,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player-craft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{955,389},{150,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game-sheet.png</string>
            <key>size</key>
            <string>{1312,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:937817c84ed8a7a5e84fd1f66703c244:d5526f7eb267ee5c613cf9212cc1cecf:28f8fc5b5b02bec03b9d0cfbfdcf01c0$</string>
            <key>textureFileName</key>
            <string>game-sheet.png</string>
        </dict>
    </dict>
</plist>
